@font-face {
    font-family: "Ornamental";
    src: url("/imgsAssets/fonts/EileenCapsBlack-w1DP.ttf");
}

@font-face {
    font-family: "Jancient";
    src: url("/imgsAssets/fonts/JANCIENT.ttf");
}

@font-face {
    font-family: "IBM";
    src: url("/imgsAssets/fonts/ibm.woff");
}

@font-face {
  font-family: "Astloch";
  src: url("/imgsAssets/fonts/astloch.bold.ttf");
}

h1 {
  font-family: 'Ornamental', cursive;
  color: #f77e00;
  font-size: 4em;
  -webkit-text-stroke: 0.01em black;
  margin: 1%;
}

h2{
  font-size: 1.2em;
  font-family: 'Astloch', sans-serif;
  color: #00ffff;
  margin: 1%;
}

a {
  color: #ffff00;
  text-decoration: none;
  padding: 1px;
  border: 1px solid transparent;
}

a:hover {
  padding: 1px;
  border: 1px solid #ffff00;
}

body {
  text-align: left;
  background-color: black;
  background-image: url("/imgsAssets/releases/skullstonedownwards.gif");
  font-family: 'Jancient';
  text-align: center;
  font-size: 2.0em;
  color: #f77e00;
}

pre {
  font-family: 'IBM';
}

hr {
  color: #00ffff;
  border: 2px solid;
  border-color: #00ffff;
  margin: 1%;
}

br2 {
    display: block;
    margin: 14% 0;
}

::selection {
  background: #00ffff; /* WebKit/Blink Browsers */
  color: #0000ff;
}
::-moz-selection {
  background: #00ffff; /* Gecko Browsers */
  color: #0000ff;
}

.text {
  align-self: flex-end;
}

.logo {
  height: 1.6em;
}

.smollogo {
  width: 27%;
}

.cover {
  width: 18%;
}

.tab { text-indent:40px }

.footer > a:hover {
  display: inline-block;
}

.emoji {
  width: 1em;
  height: 1em;
}

* {
     cursor: url("/imgsAssets/releases/cursor.png"),  auto;
}
a, a:link, button {
  cursor:url("/imgsAssets/releases/cursor_hover.png"), auto;
}