@font-face {
    font-family: "Blackletter";
    src: url("/imgsAssets/fonts/TexturaLiberaX-Black.woff") format('woff');
}

@font-face {
    font-family: "IBM";
    src: url("/imgsAssets/fonts/ibm.woff") format('woff');
}

@font-face {
  font-family: "Bamum";
  src: url("/imgsAssets/fonts/bamum.woff") format('woff');
}

h1 {
  font-family: 'Blackletter', cursive;
  color: #f20587;
  font-size: 63px;
  margin: 1%;
}

h2{
  font-size: 16px;
  font-family: 'IBM', sans-serif;
  color: #9000ff;
  margin: 1%;
}

p, ul {
  font-size: 16px;
  font-family: 'IBM', sans-serif;
  color: #f20587;
  margin: 1%;
}

a {
  color: #f77e00;
  text-decoration: none;
}

a:hover {
  padding: 1px;
  border: 1px solid #f77e00;
}

img {
  
}

body {
  text-align: left;
  background-color: black;
  background-image: url("/imgsAssets/background.gif");
  background-position: right top;
  background-repeat: repeat-y;
  background-size: 20%;
  max-width: 77%;
  font-family: 'IBM';
  font-size: 16px;
}

@media (max-width: 700px) {
    body {
      background-image: none;
    }
}

pre {
  font-family: 'IBM', sans-serif;
  color: #f20587;
  white-space: pre;
  font-size: 16px;
  margin: 1%;
}

hr {
  color: #9000ff;
  border: 1px solid;
  border-color: #9000ff;
  margin: 1%;
}

::selection {
  background: #f20587; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #f20587; /* Gecko Browsers */
  color: black;
}

.text {
  align-self: flex-end;
}

.logo {
  width: 86px;
  height: 86px;
}

.paragraph {
  display: flex;
}

.tab { text-indent:40px }

.footer > a:hover {
  display: inline-block;
}

* {
  cursor: url(/imgsAssets/cursor1.png), auto !important;
  }