@font-face {
    font-family: "TexturaLiberaXBlack";
    src: url("/imgsAssets/fonts/TexturaLiberaX-Black.woff");
}
@font-face {
    font-family: "IBM";
    src: url("/imgsAssets/fonts/ibm.woff");
}
@font-face {
  font-family: "Astloch";
  src: url("/imgsAssets/fonts/astloch.bold.ttf");
}
h1 {
  font-family: 'TexturaLiberaXBlack', cursive;
  color: #e50067;
  font-size: 3em;
  margin: 1%;
}
h2{
  font-size: 1.2em;
  font-family: 'Astloch', sans-serif;
  color: #0000ff;
  margin: 1%;
}
h3{
  font-size: 1.2em;
  font-family: 'IBM', sans-serif;
  color: #d15cff;
  margin: 1%;
}
a {
  color: #f77e00;
  text-decoration: none;
  padding: 1px;
  border: 1px solid transparent;
}
a:hover {
  padding: 1px;
  border: 1px solid #f77e00;
}
body {
  text-align: center;
  background-color: #000000;
  background-image: url("/imgsAssets/dprk.svg"), url("/imgsAssets/starsdown.gif");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: top, bottom;
  background-size: 1920px, 100px;
  width: 63%;
  margin: auto;
  font-family: 'IBM';
  font-size: 1em;
  color: #e50067;
  cursor: url("/imgsAssets/cursor1.png"), auto;
}
p2 {
  color: #ffffff;
}
pre {
  font-family: 'IBM';
}
@media (max-width: 900px) {
    body {
      background-image: url("/imgsAssets/starsdown.gif");
      background-repeat: repeat;
      background-attachment: fixed;
      background-position: bottom;
      background-size: 100px;
    }
}
hr {
  color: #9000ff;
  border: 1px solid;
  border-color: #9000ff;
  margin: 1%;
}
::selection {
  background: #e50067; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #e50067; /* Gecko Browsers */
  color: black;
}
.text {
  align-self: flex-end;
}
.logo {
  height: 1.6em;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.paragraph {
}
.tab { 
  text-indent:40px 
}
.footer > a:hover {
  display: inline-block;
}
.smollogo {
  width: 18em;
  display: block;
  margin-left: auto;
}
.emoji {
  width: 1em;
  height: 1em;
}
.data a, .data span, .data tr, .data td { white-space: pre; }

* {
     cursor: url("/imgsAssets/cursor.gif"),  auto;
}
a, a:link, button {
  cursor:url("/imgsAssets/cursor_hover.gif"), auto;
}